<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.xhSmart.mapper.PostMapper">
	
	<insert id="save" parameterType="Post">
		insert into post(post_name,post_depict) values(#{post_name},#{post_depict})
	</insert>
	
	<update id="update" parameterType="Post">
		update post set post_name=#{post_name},post_depict=#{post_depict} where post_id=#{post_id}
	</update>
	
	<delete id="remove" parameterType="int">
		delete from post where post_id=#{post_id}
	</delete>
	
	 <!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="findById" parameterType="int" resultType="Post">
		select post_id post_id,post_name post_name,post_depict post_depict from post where post_id=#{post_id}
	</select>
	
	<select id="findAll" resultType="Post">
		select post_id post_id,post_name post_name,post_depict post_depict from post
	</select>
	
</mapper>