<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.xhSmart.mapper.ProjectMapper">
	
	<insert id="save" parameterType="Project">
		insert into project(project_id, project_name,project_depict,project_state,project_createTime,project_endTime
		,project_createReason,user_id) values(#{project_id}, #{project_name},#{project_depict},#{project_state},#{project_createTime}
		,#{project_endTime},#{project_createReason},#{user_id})
	</insert>
	<update id="update" parameterType="Project">
		update project set project_state=#{project_state},project_createTime=#{project_createTime},user_id=#{user_id} 
		, project_endTime=#{project_endTime} where project_id=#{project_id}
	</update>
	<delete id="remove" parameterType="int">
		delete from project where project_id=#{project_id}
	</delete>
	 <!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="findById" parameterType="int" resultType="Project">
		select project.user_id user_id, project_id project_id,project_name project_name,project_depict project_depict,project_state project_state
		,project_createTime project_createTime, project_endTime project_endTime
		, project_createReason project_createReason from project where project_id=#{project_id}
	</select>
	<select id="findAllByUser" resultType="Project">
		select project.user_id user_id, project.project_id project_id,project_name project_name,project_depict project_depict,project_state project_state
		,project_createTime project_createTime, project_endTime project_endTime
		, project_createReason project_createReason from project,allocation where allocation.project_id=project.project_id and project.user_id >0
	    and allocation.user_id=#{user_id} order by project_endTime ,project_createTime desc limit #{startPos},#{pageSize} 
	</select>
	<select id="findAllByAdmin" resultType="Project">
		select project.user_id user_id, project.project_id project_id,project_name project_name,project_depict project_depict,project_state project_state
		,project_createTime project_createTime, project_endTime project_endTime
		, project_createReason project_createReason from project order by project_endTime ,project_createTime desc limit #{startPos},#{pageSize} 
	</select>
	<select id="getProjectsCountByAdmin" parameterType="int" resultType="int">
         SELECT COUNT(*) FROM project
    </select>
	<select id="findByName" parameterType="String" resultType="Project">
		select project.user_id user_id, project_id project_id,project_name project_name,project_depict project_depict,project_state project_state
		,project_createTime project_createTime, project_endTime project_endTime
		, project_createReason project_createReason from project where project_name=#{project_name} order by project_createTime limit 1 
	</select>
	
	
	
	<select id="findAllByNameToAdmin"  resultType="Project">
		select project.user_id user_id, project_id project_id,project_name project_name,project_depict project_depict,project_state project_state
		,project_createTime project_createTime, project_endTime project_endTime
		, project_createReason project_createReason from project where project_name like "%"#{project_name}"%" order by project_endTime ,project_createTime desc limit #{startPos},#{pageSize} 
	</select>
	<select id="getProjectsCountByNameToAdmin" parameterType="String" resultType="int">
         SELECT COUNT(*) FROM project WHERE project_name like "%"#{project_name}"%"
    </select>
    
    <select id="findAllByNameToUser" resultType="Project">
		select project.user_id user_id, project.project_id project_id,project_name project_name,project_depict project_depict,project_state project_state
		,project_createTime project_createTime, project_endTime project_endTime
		, project_createReason project_createReason from project,allocation where project_name like "%"#{project_name}"%" and allocation.project_id=project.project_id and allocation.user_id = #{user_id} order by project_endTime ,project_createTime desc limit #{startPos},#{pageSize} 
	</select>
	<select id="getProjectsCountByNameToUser"  resultType="int">
         SELECT COUNT(*) FROM project,allocation WHERE project_name like "%"#{project_name}"%" and allocation.project_id=project.project_id and allocation.user_id = #{user_id} 
         order by project_endTime ,project_createTime desc 
    </select>
	
	
	
	
	<select id="getProjectsCountByUser" parameterType="int" resultType="int">
         SELECT COUNT(*) FROM project,allocation WHERE allocation.project_id=project.project_id and allocation.user_id = #{user_id}
    </select>
	<select id="findAll" resultType="Project">
		select user_id user_id,project_id project_id,project_name project_name,project_depict project_depict,project_state project_state
		,project_createTime project_createTime, project_endTime project_endTime
		, project_createReason project_createReason from project order by project_endTime ,project_createTime   
	</select>
	
</mapper>