<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.xhSmart.mapper.DepartmentMapper">
	
	<insert id="save" parameterType="Department">
		insert into department(department_name,department_depict) values(#{department_name},#{department_depict})
	</insert>
	
	<update id="update" parameterType="Department">
		update department set department_name=#{department_name},department_depict=#{department_depict} where department_id=#{department_id}
	</update>
	
	<delete id="remove" parameterType="int">
		delete from department where department_id=#{department_id}
	</delete>
	
	 <!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="findById" parameterType="int" resultType="Department">
		select department_id department_id,department_name department_name,department_depict department_depict from department where department_id=#{department_id}
	</select>
	
	<select id="findAll" resultType="Department">
		select department_id department_id,department_name department_name,department_depict department_depict from department
	</select>
	
</mapper>